@import "../../assets/styles/styles.scss";


.tyreList {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cardGallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
}
