@import "../../../assets/styles/styles.scss";

.tyreCard {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: $base-spacing;
    margin: $base-spacing;
    border-radius: 10px;    
    
    .imgDiv {
        display: flex;
        justify-content: center;
        img {
            object-fit: contain;
            border-radius: 10px;
        }
    }

    .starsDiv {
        font-size: $star-size;
        position: relative;
        margin: $base-spacing;
        display: flex;
        height: 1em;
        width: 5em;
    
        .fullStars, .emptyStars {
            color: black;
            position: absolute;
            overflow: hidden;
            white-space: nowrap; 
            
            > * {
                width: 1em;
            }
        }

        .fullStars {
            color: #F9D537;
            z-index: 2;
        }
    }

    .titleDiv {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
         > * {
            margin: $base-spacing;
         }

         > .price { 
            text-align: center;
        }
    }

    .amazonLink {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
        }
    }
}
